@inject IAuthService AuthService
@inject IAlertify Alertify
@inject IHttpRequest HttpRequest

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                @if (stats == null)
                {
                    <h4 class="text-center">Loading...</h4>
                }
                else
                {
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-xl-4 col-sm-11 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-utensils fa-3x text-warning"></i>
                                        <div class="text-right text-secondary">
                                            <h5>Restaurants</h5>
                                            <h3>@stats.RestaurantsNum</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary" style="cursor: pointer" @onclick="@(()=>OnInitializedAsync())">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>Updated Now</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-11 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-hamburger fa-3x text-success"></i>
                                        <div class="text-right text-secondary">
                                            <h5>Lunches</h5>
                                            <h3>@stats.LunchesNum</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary" style="cursor: pointer" @onclick="@(()=>OnInitializedAsync())">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>Updated Now</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-11 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-users fa-3x text-info"></i>
                                        <div class="text-right text-secondary">
                                            <h5>Users</h5>
                                            <h3>@stats.UsersNum</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary" style="cursor: pointer" @onclick="@(()=>OnInitializedAsync())">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>Updated Now</span>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xl-3 col-sm-6 p-2">
                    <div class="card card-common">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <i class="fas fa-chart-line fa-3x text-danger"></i>
                                <div class="text-right text-secondary">
                                    <h5>Visitors</h5>
                                    <h3>45,000</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-secondary">
                            <i class="fas fa-sync mr-3"></i>
                            <span>Updated Now</span>
                        </div>
                    </div>
                </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code {
    private string error = null;
    private bool isEditor = false;
    private bool isAdmin = false;
    private GetStats stats = null;

    protected override async Task OnInitializedAsync()
    {

        isEditor = await AuthService.IsUserEditor();
        isAdmin = await AuthService.IsUserEditor();

        var response = await HttpRequest.HttpGet<GetStats>($"api/admin/getstatsupdate","");

        if (response != null)
        {
            if (response.Successful)
            {
                stats = response;
            }
            else
            {
                error = response.Error;
            }
        }
        else
        {
            await Alertify.Error("There was an error");
        }
    }
}
