@page "/users"
@inject IHttpRequest HttpRequest
@inject NavigationManager NavigationManager
@inject IAlertify Alertify
@inject IAuthService AuthService

<section>
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-12">
                        <div class="row my-2 pt-md-5 mt-md-3">
                            <div class="col">
                                <h2>All Users</h2>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-12">
                                <h3 class="text-muted text-center mb-3">List of users</h3>
                                @if (users == null)
                                {
                                    <h4 class="text-center">Loading...</h4>
                                }
                                else
                                {
                                    <table class="table table-dark table-hover text-center">
                                        <thead>
                                            <tr class="text-muted">
                                                <th>Name</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                @if (isAdmin)
                                                {
                                                    <th></th>
                                                }
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in users)
                                            {
                                                <tr>
                                                    <th>@user.Name</th>
                                                    <td>@user.Username</td>
                                                    <td>@user.Email</td>
                                                    @if (isAdmin)
                                                    {
                                                        <td class="p-1">
                                                            <i class="fas fa-times fa-2x text-danger" style="cursor: pointer" @onclick="@(async () => await RemoveUser(user.Id))"></i>
                                                        </td>
                                                    }
                                                    <td class="p-1">
                                                        <i class="fas fa-search-plus fa-2x text-primary" style="cursor: pointer" @onclick="@(() => UserDetails(user.Id))"></i>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- pagination -->
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            @if (paginationDataInfo.PageNumber <= 1)
                                            {
                                                <li class="page-item disabled" style="cursor: pointer;">
                                                    <p class="page-link py-2 px-3">
                                                        <span>Previous</span>
                                                    </p>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item" style="cursor: pointer;" @onclick="@(() => GetUsers(paginationDataInfo.PageNumber-1,paginationDataInfo.PageSize))">
                                                    <p class="page-link py-2 px-3">
                                                        <span>Previous</span>
                                                    </p>
                                                </li>
                                            }
                                            <li class="page-item active">
                                                <p class="page-link py-2 px-3">
                                                    @paginationDataInfo.PageNumber
                                                </p>
                                            </li>
                                            @if (paginationDataInfo.PageNumber * paginationDataInfo.PageSize >= paginationDataInfo.NumberOfItems)
                                            {
                                                <li class="page-item disabled" style="cursor: pointer;">
                                                    <p class="page-link py-2 px-3">
                                                        <span>Next</span>
                                                    </p>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item" style="cursor: pointer;" @onclick="@(() => GetUsers(paginationDataInfo.PageNumber+1,paginationDataInfo.PageSize))">
                                                    <p class="page-link py-2 px-3">
                                                        <span>Next</span>
                                                    </p>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                    <!-- end of pagination -->
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private List<UserRegisterDTO> users;
    private string error = "";
    private bool isAdmin = false;
    private PaginationDataInfo paginationDataInfo = new PaginationDataInfo() { PageNumber = 1, PageSize = 7 };

    protected override async Task OnInitializedAsync()
    {
        isAdmin = await AuthService.IsUserAdmin();

        await GetUsers(1, 7);
    }

    private async Task GetUsers(int pageNumber, int pageSize)
    {
        var pagination = new PaginationDataInfo() { PageNumber = pageNumber, PageSize = pageSize };

        var response = await HttpRequest.HttpGet<GetUsers>("api/users/allusers",pagination);

        if(response != null)
        {
            if (response.Successful)
            {
                users = null;
                users = response.Users;
                paginationDataInfo = response.PaginationInfo;
            }
            else
            {
                error = response.Error;
                this.StateHasChanged();
            }
        }
        else
        {
            await Alertify.Error("There was an error");
        }
    }

    private async Task RemoveUser(string userId)
    {
        var response = await HttpRequest.HttpDelete<OperationSuccessResponse>($"api/users/remove/{userId}", "");

        if(response != null)
        {
            if (response.Successful)
            {
                users = null;
                await Alertify.Success("Successfuly removed user");
                await OnInitializedAsync();
                this.StateHasChanged();
            }
            else
            {
                error = response.Error;
                this.StateHasChanged();
            }
        }
        else
        {
            await Alertify.Error("There was an error while removing user");
        }
    }

    private void UserDetails(string userId)
    {
        NavigationManager.NavigateTo($"users/user/{userId}");
    }
}
